{% extends 'base.html.twig' %}
{% block body %}
<div id="inserer">
ici votre contenu exemple :
<article>
    <h2>Titre de l’Article </h2>
    <div class="metadata">Edité le06/02/2022</div>
    <div class="content">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur esse doloremque dolores, laborum perspiciatis ab.</p>
        <p>Quia impedit atque quasi? Nesciunt suscipit rerum quos laborum deserunt nemo, aut atque minima quo!</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l’Article </h2>
    <div class="metadata">Edité le06/02/2022</div>
    <div class="content">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut harum perferendis laborum, quasi quae qui!</p>
        <p>Soluta, necessitatibus aliquam consequatur eos praesentium ipsum enim tempore doloremque similique animi voluptatem commodi voluptates.</p>
        <a href="{{ path(route_name, route_parameters = [], relative = false) }}" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l’Article </h2>
    <div class="metadata">Edité le06/02/2022</div>
    <div class="content">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae iste laboriosam, tenetur quisquam repellat ducimus.</p>
        <p>Accusamus aliquam reprehenderit minus, aliquid placeat nulla doloremque facilis quasi corporis, vitae exercitationem, deserunt voluptas.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
</div> 
{% endblock %}
