{% extends 'base.html.twig' %}
{% block body %}
<article>
<article>
<h2>Titre de l’Article </h2>
<div class="metadata">Edité le 06/02/2022</div>
<div class="content">
<img src="http://placehold.it/100" alt="">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem
debitis maiores facilis exercitationem quas explicabo.</p>
<p>Sequi molestiae natus voluptates blanditiis dolores nihil earum
amet, vel dignissimos voluptatem, beatae animi quos.</p>
</div>
</article>
</article>
{% endblock %}